[submodule "deps/exports"]
	path = deps/exports
	url = https://github.com/imalyavskiy/ogldev.deps.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/imalyavskiy/test_json_parser.git
[submodule "deps/physx"]
	path = deps/physx
	url = https://github.com/imalyavskiy/PhysX.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/imalyavskiy/googletest.git
[submodule "deps/base64"]
	path = deps/base64
	url = https://github.com/imalyavskiy/Base64.git
